<div class="row">
  <div class="col-md-6">
    <h1><%= link_to "/sources/#{@client.identifier}" ,@client.identifier.capitalize %></h1>
  </div>
  <div class="col-md-6">
    <br /> 
    <h3>Path: <%= "#{@url.url_path}" %></h3>
  </div>
  <!-- <div class="col-md-6">

  </div>
  <div class="col-md-6">
    <h3>Client: <a href="/sources/<%= @client.identifier %>"><%= @client.identifier.capitalize %></a></h3>
  </div> -->
</div>
<div class="well well-sm">
  <%= erb :'shared/_url_stats' %>
</div>


<%= breakdown_table(@url.payload_requests.os_breakdown(url_id: @url.id), "OS") %>
<%= breakdown_table(@url.payload_requests.browser_breakdown(url_id: @url.id), "Browser") %>
<%= breakdown_table(@url.payload_requests.all_http_verbs(url_id: @url.id), "HTTP Verbs") %>
